<div class="row">
    <h1>Educación</h1>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        
    </div>
        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
            <ul>
                <img src="../../../assets/Educacion-logo.png " alt="Taller Mecanico" height="200px" >
                <li> 
                    
                    <h1>Educación 1</h1>   - <h3>(years)</h3>

                </li> 
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore accusamus fuga quibusdam dolor non perspiciatis enim nostrum, nisi hic, nemo voluptatum quod commodi autem a delectus porro? Blanditiis, ut aspernatur?</p>
            </ul>
            <ul>
                <img src="../../../assets/Educacion-logo.png " alt="Taller Mecanico" height="200px" >
                <li> 
                   
                    <h1>Educación 2</h1>   - <h3>(years)</h3>
                      
                </li> 
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore accusamus fuga quibusdam dolor non perspiciatis enim nostrum, nisi hic, nemo voluptatum quod commodi autem a delectus porro? Blanditiis, ut aspernatur?</p>
            </ul>
            <ul>
                <img src="../../../assets/Educacion-logo.png " alt="Taller Mecanico" height="200px" >
                <li> 
                    
                    <h1>Educación 3</h1>   - <h3>(years)</h3>

                </li> 
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore accusamus fuga quibusdam dolor non perspiciatis enim nostrum, nisi hic, nemo voluptatum quod commodi autem a delectus porro? Blanditiis, ut aspernatur?</p>
            </ul>
        </div>
</div>