    <div class="row">
       <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">           
            <img src="../../../assets/Acerca-de.png" class="foto-perfil" class="img-fluid" id="picprofile" >
       </div>
       <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="acerca-de">
           <h2>Zelarayan Caceres</h2>
            <h2 > Alan Gabriel </h2>
           <h3>Full Stack Developer Jr </h3>
       </div>
       <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="acerca-de">
          <span>
              <h1>Acerca de mí👨🏻💻</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda necessitatibus quas corporis, labore iusto veritatis, consectetur quasi et facere voluptatibus reiciendis in amet rerum mollitia id nostrum neque facilis quidem?
              </p>
          </span>

       </div>
    </div>
