

div{
    background-color: rgb(243, 161, 84);
    text-align:inherit;
    
}
/* etiqueta Foto de perfil */

@media (min-width: 576px){
    #picprofile{
        position:absolute;
        width:10%;
        border-radius: 30%;
        box-shadow: 6px 6px 6px rgb(0, 0, 0);
        left: 3px;
        top: 600px
    }
}
@media (min-width: 1366px){
    #picprofile{
        position:absolute;
        width:10%;
        border-radius: 30%;
        box-shadow: 6px 6px 6px rgb(0, 0, 0);
        left: 3px;
        top: 470px
    }
}

@media (max-width: 575px){
    #picprofile{
        position:absolute;
        width:30%;
        border-radius: 30%;
        box-shadow: 6px 6px 6px rgb(0, 0, 0);
        left: 220px;
        top: 550px;
         
    }
}
/*
@media (max-width: 339px){
    #picprofile{
        position:absolute;
        width:30%;
        border-radius: 30%;
        box-shadow: 6px 6px 6px rgb(0, 0, 0);
        left: 220px;
        top: 550px;
        
    }
}
*/
@media(max-width:575px){
    #acerca-de{
        right: 13%;
        width:600px;
    }
}

/* etiqueta nombre*/

#apellido{
    font-weight: bold;
    margin-top: 30px;
    margin-left: 10px;
}
#nombre{
    font-weight: bold;
    margin-top: -8px;
    margin-left: 10px;
}

